version: "3.8"
services:
  db:
    image: postgres:14-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: golden_owl_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./golden-owl-backend
      dockerfile: Dockerfile
    container_name: nestjs_api
    depends_on:
      - db
    env_file:
      - ./golden-owl-backend/.env
    ports:
      - "3000:3000"

volumes:
  postgres_data:
